.button {
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #357afa;
    border: none;
    height: auto;
    display: inline-flex;
    white-space: normal !important;
    border-radius: 15px;
    box-shadow: 0 9px rgb(48, 47, 47);
    margin-bottom: 26px;
  }
  
  .button:hover {background-color: #0e7eff}
  
  .button:active {
    background-color: #0d0d0e;
    box-shadow: 0 5px rgb(46, 46, 46);
    transform: translateY(4px);
  }